main .container{
    display: block;
    padding: 0;
    margin: 0;
    max-width: 1440px;
    font-family: 'Ubuntu', sans-serif;
}

.s1, .s3{
    background-color: white;
}

.s2, .s4{
    background-color: #F7F7F7;
}

.s1{
    height: 712px;
}

.primeiro{
    background: url('../img/ilustra-banner.png') right no-repeat;
    padding: 125px 206px 66px 206px;
}

.primeiro h1{
    width: 488px;
    font-size: 60px;
    font-weight: 700;
    color: #FF4081;
}

.primeiro p{
    width: 462px;
    font-size: 27px;
    font-weight: 400;
}

.primeiro h3{
    width: 268px;
    font-size: 27px;
    font-weight: 400;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    text-align: center;
}

.s2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 730px;
    padding: 109px 0px 117px 128px;
}

.curso{
    width: 344px;
    height: 504px;
    text-align: center;
}

.curso img{
    width: auto;
    height: 270px;
}

.curso h4{
    font-size: 25px;
    font-weight: 700;
    color: #FF4081;
}

.curso p{
    font-size: 17px;
    font-weight: 300;
}

.comecar-agora{
    display: flex;
    justify-content: center;
}

.curso h5{
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    text-transform: lowercase;
    width: 233px;
}

section > h2{
    color: #009688;
    font-weight: 700;
    font-size: 37px;
    text-transform: uppercase;
}

.s3{
    font-family: 'Nunito', sans-serif;
    padding: 119px 0px 0px 128px;
    height: 701px;
}

.comentarios{
    display: flex;
    flex-wrap: wrap;
}

.comentario{
    display: flex;
    width: 591px;
    padding-right: 96px;
    margin-bottom: 86px;
}

.comentario img{
    width: 104px;
    height: 104px;
}

.texto-comentario{
    display: block;
    width: 363px;
    font-size: 18px;
    padding-left: 28px;
}

.texto-comentario p{
    font-weight: 300;
    margin: 0;
}

.texto-comentario h6{
    font-weight: 400;
    margin: 10px 0 0 0;
}

.conteudos-extras{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.s4 div{
    display: flex;
    justify-content: center;
}

.extra h4{
    font-size: 27px;
    font-weight: 700;
    color: #009688;
    margin: 0;
}

.extra p{
    font-size: 18px;
    font-weight: 400px;
    margin: 0;
}

.s4 h3{
    width: 289px;
    font-size: 25px;
    font-weight: 400;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    text-align: center;
}

.extra {
    width: 319px;

}